version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    groups:
      github:
        patterns:
        - "*"
    cooldown:
      default-days: 7

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: weekly
    groups:
      gradle:
        patterns:
        - "*"
    cooldown:
      default-days: 7