name: Deploy kafka topic
on:
  push:
    branches:
      - main
    paths:
      - ".nais/topic.yaml"
jobs:
  deploy:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          RESOURCE: .nais/topic.yaml
          CLUSTER: prod-gcp
