name: Build and deploy main
on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
  pull_request:
jobs:
  test-build:
    permissions:
      actions: read # for sarif
      contents: write # for dependency graph & sarif
      id-token: write # for nais docker-build-push
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: Test & build
        run: ./gradlew test installDist
      - name: Build & push docker image + SBOM
        uses: nais/docker-build-push@87f920b0411b987d9a1fd4113aa384e1e3b54f2c
        id: docker-push
        with:
          team: appsec
          pull: true
          push_image: ${{ github.ref == 'refs/heads/main' }}
      - name: Generate and submit dependency graph
        if: github.ref == 'refs/heads/main'
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2

  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      id-token: write
    needs: test-build
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          RESOURCE: .nais/nais.yaml
          CLUSTER: prod-gcp
          IMAGE: ${{ needs.test-build.outputs.image }}

  trivy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      id-token: write
      contents: write # for dependency graph & sarif
      security-events: write # push sarif to github security
    needs: test-build
    steps:
      - uses: nais/login@v0
        with:
          team: appsec
      - name: Scan docker image for secrets
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          image-ref: '${{ needs.test-build.outputs.image }}'
          format: 'sarif'
          scanners: 'secret'
          output: 'trivy.sarif'
      - uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        with:
          sarif_file: 'trivy.sarif'